<section class="faq container" id="faq">
    <base href="/">
    <link type="text/css" rel="stylesheet" href="/css/faq.css" media="all">
    <div class="faq-wrapper">
        <div class="faq-title-wrapper">
            <h2 class="faq-title">Frequently Asked <span class="faq-title-span">Questions</span></h2>
            <p class="faq-par">We've compiled a list of the most frequently asked questions about SmartNotes to help you get the information you need. If you have any other questions, feel free to reach out to our support team.</p>
        </div>
        <ul class="faq-list">
            <li class="faq-item">
                <h3 class="faq-question">What is SmartNotes?</h3>
                <svg class="faq-arrow-icon-one" width="24px" height="24px" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.8078 7.853V11.7776H15.2795V7.853H7.8078Z" fill="url(#paint0_linear_4111_723)"/>
                    <path d="M19.2047 7.85257L15.2799 11.7774L15.2785 11.7788L14.7702 11.7788L14.7702 12.2871L6.29413 20.7632L9.06853 23.5376L18.0543 14.5518L18.0565 21.9985L21.9806 21.9978L21.9806 11.7781L21.9784 10.6277L21.9791 10.627V7.85469L21.977 7.85257L19.2047 7.85257Z" fill="url(#paint1_linear_4111_723)"/>
                    <defs>
                        <linearGradient id="paint0_linear_4111_723" x1="7.8078" y1="7.853" x2="10.6365" y2="15.2834" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#AAD9D1"/>
                            <stop offset="1" stop-color="#017373"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear_4111_723" x1="20.3367" y1="6.21228" x2="22.7637" y2="34.3176" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#AAD9D1"/>
                            <stop offset="1" stop-color="#017373"/>
                        </linearGradient>
                    </defs>
                </svg>
            </li>
            <li class="faq-item">
                <h3 class="faq-question">How do I get started with SmartNotes?</h3>
                <svg class="faq-arrow-icon-one" width="24px" height="24px" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.8078 7.853V11.7776H15.2795V7.853H7.8078Z" fill="url(#paint0_linear_4111_723)"/>
                    <path d="M19.2047 7.85257L15.2799 11.7774L15.2785 11.7788L14.7702 11.7788L14.7702 12.2871L6.29413 20.7632L9.06853 23.5376L18.0543 14.5518L18.0565 21.9985L21.9806 21.9978L21.9806 11.7781L21.9784 10.6277L21.9791 10.627V7.85469L21.977 7.85257L19.2047 7.85257Z" fill="url(#paint1_linear_4111_723)"/>
                    <defs>
                        <linearGradient id="paint0_linear_4111_723" x1="7.8078" y1="7.853" x2="10.6365" y2="15.2834" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#AAD9D1"/>
                            <stop offset="1" stop-color="#017373"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear_4111_723" x1="20.3367" y1="6.21228" x2="22.7637" y2="34.3176" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#AAD9D1"/>
                            <stop offset="1" stop-color="#017373"/>
                        </linearGradient>
                    </defs>
                </svg>
            </li>
            <li class="faq-item">
                <h3 class="faq-question">What are the key features of SmartNotes?</h3>
                <svg class="faq-arrow-icon-one" width="24px" height="24px" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.8078 7.853V11.7776H15.2795V7.853H7.8078Z" fill="url(#paint0_linear_4111_723)"/>
                    <path d="M19.2047 7.85257L15.2799 11.7774L15.2785 11.7788L14.7702 11.7788L14.7702 12.2871L6.29413 20.7632L9.06853 23.5376L18.0543 14.5518L18.0565 21.9985L21.9806 21.9978L21.9806 11.7781L21.9784 10.6277L21.9791 10.627V7.85469L21.977 7.85257L19.2047 7.85257Z" fill="url(#paint1_linear_4111_723)"/>
                    <defs>
                        <linearGradient id="paint0_linear_4111_723" x1="7.8078" y1="7.853" x2="10.6365" y2="15.2834" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#AAD9D1"/>
                            <stop offset="1" stop-color="#017373"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear_4111_723" x1="20.3367" y1="6.21228" x2="22.7637" y2="34.3176" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#AAD9D1"/>
                            <stop offset="1" stop-color="#017373"/>
                        </linearGradient>
                    </defs>
                </svg>
            </li>
            <li class="faq-item">
                <h3 class="faq-question">How much does SmartNotes cost?</h3>
                <svg class="faq-arrow-icon-one" width="24px" height="24px" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.8078 7.853V11.7776H15.2795V7.853H7.8078Z" fill="url(#paint0_linear_4111_723)"/>
                    <path d="M19.2047 7.85257L15.2799 11.7774L15.2785 11.7788L14.7702 11.7788L14.7702 12.2871L6.29413 20.7632L9.06853 23.5376L18.0543 14.5518L18.0565 21.9985L21.9806 21.9978L21.9806 11.7781L21.9784 10.6277L21.9791 10.627V7.85469L21.977 7.85257L19.2047 7.85257Z" fill="url(#paint1_linear_4111_723)"/>
                    <defs>
                        <linearGradient id="paint0_linear_4111_723" x1="7.8078" y1="7.853" x2="10.6365" y2="15.2834" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#AAD9D1"/>
                            <stop offset="1" stop-color="#017373"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear_4111_723" x1="20.3367" y1="6.21228" x2="22.7637" y2="34.3176" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#AAD9D1"/>
                            <stop offset="1" stop-color="#017373"/>
                        </linearGradient>
                    </defs>
                </svg>
            </li>
            <li class="faq-item">
                <h3 class="faq-question">Who is SmartNotes for?</h3>
                <svg class="faq-arrow-icon-one" width="24px" height="24px" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.8078 7.853V11.7776H15.2795V7.853H7.8078Z" fill="url(#paint0_linear_4111_723)"/>
                    <path d="M19.2047 7.85257L15.2799 11.7774L15.2785 11.7788L14.7702 11.7788L14.7702 12.2871L6.29413 20.7632L9.06853 23.5376L18.0543 14.5518L18.0565 21.9985L21.9806 21.9978L21.9806 11.7781L21.9784 10.6277L21.9791 10.627V7.85469L21.977 7.85257L19.2047 7.85257Z" fill="url(#paint1_linear_4111_723)"/>
                    <defs>
                        <linearGradient id="paint0_linear_4111_723" x1="7.8078" y1="7.853" x2="10.6365" y2="15.2834" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#AAD9D1"/>
                            <stop offset="1" stop-color="#017373"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear_4111_723" x1="20.3367" y1="6.21228" x2="22.7637" y2="34.3176" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#AAD9D1"/>
                            <stop offset="1" stop-color="#017373"/>
                        </linearGradient>
                    </defs>
                </svg>
            </li>
            <li class="faq-item">
                <h3 class="faq-question">What is SmartNotes?</h3>
                <svg class="faq-arrow-icon-one" width="24px" height="24px" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.8078 7.853V11.7776H15.2795V7.853H7.8078Z" fill="url(#paint0_linear_4111_723)"/>
                    <path d="M19.2047 7.85257L15.2799 11.7774L15.2785 11.7788L14.7702 11.7788L14.7702 12.2871L6.29413 20.7632L9.06853 23.5376L18.0543 14.5518L18.0565 21.9985L21.9806 21.9978L21.9806 11.7781L21.9784 10.6277L21.9791 10.627V7.85469L21.977 7.85257L19.2047 7.85257Z" fill="url(#paint1_linear_4111_723)"/>
                    <defs>
                        <linearGradient id="paint0_linear_4111_723" x1="7.8078" y1="7.853" x2="10.6365" y2="15.2834" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#AAD9D1"/>
                            <stop offset="1" stop-color="#017373"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear_4111_723" x1="20.3367" y1="6.21228" x2="22.7637" y2="34.3176" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#AAD9D1"/>
                            <stop offset="1" stop-color="#017373"/>
                        </linearGradient>
                    </defs>
                </svg>
            </li>
        </ul>
    </div>
</section>