<section class="logos">
    <div class="logos-wrapper">
        <svg class="logos-logo" height="16px" width="80px">
            <use href="./img/svg/icons.svg#icon-logoipsum1-icon"></use>
        </svg>
        <svg class="logos-logo" height="16px" width="87px">
            <use href="./img/svg/icons.svg#icon-logoipsum2-icon"></use>
        </svg>
        <svg class="logos-logo" height="16px" width="70px">
            <use href="./img/svg/icons.svg#icon-logoipsum3-icon"></use>
        </svg>
        <svg class="logos-logo" height="16px" width="80px">
            <use href="./img/svg/icons.svg#icon-logoipsum1-icon"></use>
        </svg>
        <svg class="logos-logo" height="16px" width="87px">
            <use href="./img/svg/icons.svg#icon-logoipsum2-icon"></use>
        </svg>
        <svg class="logos-logo" height="16px" width="70px">
            <use href="./img/svg/icons.svg#icon-logoipsum3-icon"></use>
        </svg>
    </div>
</section>